<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

<div class="container w-25 position-absolute top-50 start-50 translate-middle">
    <h2>Find Customers</h2>
    <form th:object="${customer}" th:action="@{/customers}" method="get"
          class="form-horizontal" id="search-owner-form">
        <div class="form-group">
            <div class="control-group" id="lastNameGroup">
                <input
                        th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Find Customer</button>
            </div>
        </div>
<!--        <div>-->
<!--            <span class="help-inline">-->
<!--            <div th:if="${#fields.hasAnyErrors()}">-->
<!--                <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>-->
<!--            </div>-->
<!--            </span>-->
<!--        </div>-->
    </form>
</div>
</body>
</html>